<div class="page-header">
  <%= link_to 'Atras', enfermedad_actuals_path, :class => 'btn' %>
  <%= link_to 'Ver', @enfermedad_actual, :class => 'btn primary' %>
  <h1>Editando enfermedad actual</h1>
</div>

<%= render 'form' %>
