<div class="page-header">
  <%= link_to 'Atras', [@patient,@visit,@enfermedad_actual], :class => 'btn' %>
  <%= link_to 'Ver', patient_visit_enfermedad_actual_path, :class => 'btn primary' %>
  <h1>Editando enfermedad actual</h1>
</div>

<%= render 'form' %>
