<div class="page-header">
  <%= link_to 'Atras', [@patient,@visit,@ef_pare], :class => 'btn' %>
  <%= link_to 'Ver', [@patient,@visit,@ef_pare], :class => 'btn primary' %>
  <h1>Editando examen de Pares Craneanos</h1>
</div>

<%= render 'form' %>
