<div class="page-header">
  <%= link_to 'Atras', ef_psiqus_path, :class => 'btn' %>
  <%= link_to 'Ver', @ef_psiqu, :class => 'btn primary' %>
  <h1>Editando ef_psiqu</h1>
</div>

<%= render 'form' %>
