<div class="page-header">
  <%= link_to 'Atras', [@patient,@visit,@ef_psiqu], :class => 'btn' %>
  <%= link_to 'Ver', [@patient,@visit,@ef_psiqu], :class => 'btn primary' %>
  <h1>Editando ef_psiqu</h1>
</div>

<%= render 'form' %>
