<div class="page-header">
  <%= link_to 'Atras', ef_generals_path, :class => 'btn' %>
  <%= link_to 'Ver', @ef_general, :class => 'btn primary' %>
  <h1>Editando ef_general</h1>
</div>

<%= render 'form' %>
