<div class="page-header">
  <%= link_to 'Atras', [@patient,@visit,@ef_mental], :class => 'btn' %>
  <%= link_to 'Ver', [@patient,@visit,@ef_mental], :class => 'btn primary' %>
  <h1>Editando ef_mental</h1>
</div>

<%= render 'form' %>
