<div class="page-header">
  <%= link_to 'Atras', patient_antecedentes_path, :class => 'btn' %>
  <%= link_to 'Ver', patient_antecedente_path, :class => 'btn primary' %>
  <h1>Editando antecedente</h1>
</div>

<%= render 'form' %>
